body {
    background-color: #EDB14A;
}
h1{
    text-align: center;
    font-size: 50px;
}
p{
    text-align: center;
    font-size: 25px;
}
h2{
    text-align: center;
    font-size: 45px;
}


#button{
    text-align: center;
    border-style: inset;
    border: black;
}